:root {
    --primary: #1e1e1e;
    --secondary: #f5deb3;
    --white: #ffffff;
    --grey: #737373;
    --red: #ed143d;
    --green: #079207;
    --purple: #951095;
    --header: 360px;
}

::-webkit-scrollbar {
    background: var(--primary);
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 4px;
}

@font-face {
    font-family: 'Aliya';
    src: url(./Aliya-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--primary);
    color: var(--white);
    font-family: 'Aliya', sans-serif;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

a {
    color: inherit;
    text-underline-position: under;
}

header, main {
    max-height: 100%;
    overflow: auto;
}

header {
    width: var(--header);
    display: flex;
    align-items: center;
    border-right: 1px solid rgba(245, 222, 179, 0.1);
}

main {
    width: calc(100% - var(--header));
}

footer {
    text-align: center;
    font-weight: bold;
}

.headerWrapper {
    height: 350px;
    width: 100%;
}

h1 {
    font-size: 48px;
    line-height: 42px;
    margin: 15px 0 0 0;
    text-align: center;
}

form {
    padding: 20px 50px;
}

form > div {
    border: 2px solid var(--secondary);
    max-width: 300px;
    margin: 20px auto;
    border-radius: 5px;
}

.district {
    border: none;
    text-align: center;
}

select {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    color: var(--secondary);
    line-height: 1;
    outline: 0;
    border: none;
    border-bottom: 2px solid var(--secondary);
    padding: 10px 30px 0px 12px;
    border-radius: 0;
    background-color: var(--primary);
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 32px 30px, 24px 27px, 21px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
}

select:active {
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
    color: var(--secondary);
    border-color: var(--primary);
    background-color: var(--primary);
}

input[type='radio'] {
    display: none;
}

label {
    display: block;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

input[type="radio"]:checked+label {
    background-color: var(--secondary);
    color: var(--primary);
}

#app {
    height: 100%;
}

.bag {
    overflow: auto;
    width: calc(100vw - var(--header));
    height: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    height: calc(100vh - 5px);
    min-width: 410px;
    margin: 0 10px;
    overflow: auto;
}

.noneCard {
    display: block;
    max-width: 300px;
    width: calc(100% - 100px);
    border-radius: 5px;
}

.dat {
    width: 100%;
    background-color: var(--primary);
    padding: 10px;
    text-align: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgba(245, 222, 179, 0.1);
}

.card {
    display: inline-block;
    width: calc(100% - 5px);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--primary);
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.card .top {
    display: flex;
    align-items: center;
    height: 150px;
}

.card .top .left {
    width: 70%;
    padding-right: 10px;
}

.card .top .right {
    width: 30%;
    text-align: center;
}

.card .btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .name {
    font-size: 32px;
    line-height: 26px;
    padding: 10px 0;
}

.card .address, .card .btm {
    color: var(--grey);
}

.card .fees {
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
}

.card .minAge {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
}

.card .free {
    background-color: var(--green);
    color: var(--white);
}

.card .paid {
    background-color: var(--purple);
    color: var(--white);
}

.card .dose1 span, .card .dose2 span {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    width: 50px;
    text-align: center;
}

.card .oops {
    color: var(--red);
    border-color: var(--red);
}

.card .yayy {
    color: var(--green);
    border-color: var(--green);
}

.card.thullu {
    height: 230px;
    color: var(--secondary);
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:1200px) {
    header, main {
        width: 100%;
        max-height: unset;
        justify-content: flex-start;
    }
    .headerWrapper {
        height: auto;
    }
    .bag {
        width: 100vw;
    }
    form {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    form>div {
        display: flex;
        max-width: unset;
    }
    .col {
        height: calc(100vh - 80px);
    }
}

@media screen and (max-width:400px) {
    .col {
        min-width: 360px;
    }
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    transition-duration: 1s;
}

.loading div {
    box-sizing: border-box;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #fff;
    border-radius: 50%;
    animation: merry 0.8s linear infinite;
    border-color: #fff transparent transparent transparent;
}

@keyframes merry {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}