:root {
    --primary: #1e1e1e;
    --secondary: #f5deb3;
    --white: #ffffff;
    --grey: #737373;
    --red: #ed143d;
    --green: #079207;
    --purple: #951095;
}

::-webkit-scrollbar {
	background: var(--primary);
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: var(--secondary);
	border-radius: 4px;
}

@font-face {
    font-family: 'Aliya';
    src: url(./Aliya-Regular.ttf);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
}

body {
    background-color: var(--primary);
    color: var(--white);
    font-family: 'Aliya', sans-serif;
    font-size: 24px;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
}

header {
    padding-top: 20px;
    width: 30%;
}

footer {
    text-align: center;
    font-weight: bold;
}

a {
    color: inherit;
    text-underline-position: under;
}

main {
    width: 70%;
}

header, main {
    max-height: 100%;
    overflow: auto;
}

h1 {
    font-size: 48px;
    line-height: 42px;
    margin: 5px 0;
    text-align: center;
}

#app {
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
    align-content: space-between;
    justify-content: space-evenly;
}

form {
    padding: 20px 50px;
}

form>div {
    border: 2px solid var(--secondary);
    max-width: 300px;
    margin: 10px auto;
    border-radius: 5px;
}

select {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    color: var(--secondary);
    line-height: 1;
    outline: 0;
    border: none;
    border-bottom: 2px solid var(--secondary);
    padding: 10px 30px 0px 12px;
    border-radius: 0;
    background-color: var(--primary);
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 1px 100%, 32px 30px, 24px 27px, 21px 100%;
    background-position: right 20px center, right bottom, right bottom, right bottom;
}

select:hover {
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
}

select:active {
    background-image: linear-gradient(var(--primary), var(--primary)), linear-gradient(-135deg, transparent 50%, var(--primary) 50%), linear-gradient(-225deg, transparent 50%, var(--primary) 50%), linear-gradient(var(--primary) 42%, var(--secondary) 42%);
    color: var(--secondary);
    border-color: var(--primary);
    background-color: var(--primary);
}

input[type='radio'] {
    display: none;
}

label {
    display: block;
    padding: 8px;
    cursor: pointer;
    text-align: center;
    border-radius: 2px;
    font-weight: bold;
}

input[type="radio"]:checked+label {
    background-color: var(--secondary);
    color: var(--primary);
}

#result {
    text-align: center;
    font-weight: bold;
}

.noneCard {
    display: block;
    max-width: 300px;
    width: calc(100% - 100px);
    border-radius: 5px;
}

.card {
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: var(--secondary);
    color: var(--primary);
}

.card {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.card .top {
    display: flex;
    align-items: center;
    height: 150px;
}

.card .top .left {
    width: 70%;
    padding-right: 10px;
}

.card .top .right {
    width: 30%;
    text-align: center;
}

.card .btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .name {
    font-size: 32px;
    line-height: 26px;
    padding: 10px 0;
}

.card .address, .card .btm {
    color: var(--grey);
}

.card .fees {
    padding: 8px;
    border-radius: 10px;
    font-weight: bold;
    display: inline-flex;
}

.card .minAge {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 100px;
    font-weight: bold;
}

.card .free {
    background-color: var(--green);
    color: var(--white);
}

.card .paid {
    background-color: var(--purple);
    color: var(--white);
}

.card .dose1 span, .card .dose2 span {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    width: 50px;
    text-align: center;
}

.card .oops {
    color: var(--red);
    border-color: var(--red);
}

.card .yayy {
    color: var(--green);
    border-color: var(--green);
}

@media screen and (max-width:1600px) {
    .card {
        width: 45%;
        margin: 20px 0;
    }
}

@media screen and (max-width:1200px) {
    header, main {
        width: 100%;
        max-height: unset;
        justify-content: flex-start;
    }
    form {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    form>div {
        display: flex;
        max-width: unset;
    }
}

@media screen and (max-width:900px) {
    .card {
        max-width: 500px;
        width: calc(100% - 50px);
        margin: 20px 0;
    }
    .date,
    .district {
        border: none;
    }
}